:root {
  --white: rgba(251, 251, 251, 1);
  --dark-gray: rgba(36, 36, 36, 1);
  --primary: rgba(0, 145, 110, 1);
  --secondary: rgba(245, 183, 0, 1);
  --gray: rgba(215, 215, 215, 1);
  --ANTON-SC-32-font-family: "Anton SC", Helvetica;
  --ANTON-SC-32-font-weight: 400;
  --ANTON-SC-32-font-size: 32px;
  --ANTON-SC-32-letter-spacing: 0px;
  --ANTON-SC-32-line-height: normal;
  --ANTON-SC-32-font-style: normal;
  --ANTON-SC-24-font-family: "Anton SC", Helvetica;
  --ANTON-SC-24-font-weight: 400;
  --ANTON-SC-24-font-size: 24px;
  --ANTON-SC-24-letter-spacing: 0px;
  --ANTON-SC-24-line-height: normal;
  --ANTON-SC-24-font-style: normal;
  --ANTON-SC-20-font-family: "Anton SC", Helvetica;
  --ANTON-SC-20-font-weight: 400;
  --ANTON-SC-20-font-size: 20px;
  --ANTON-SC-20-letter-spacing: 0px;
  --ANTON-SC-20-line-height: normal;
  --ANTON-SC-20-font-style: normal;
  --ANTON-SC-16-font-family: "Koulen", Helvetica;
  --ANTON-SC-16-font-weight: 400;
  --ANTON-SC-16-font-size: 16px;
  --ANTON-SC-16-letter-spacing: 0px;
  --ANTON-SC-16-line-height: normal;
  --ANTON-SC-16-font-style: normal;
  --ANTON-SC-14-font-family: "Koulen", Helvetica;
  --ANTON-SC-14-font-weight: 400;
  --ANTON-SC-14-font-size: 14px;
  --ANTON-SC-14-letter-spacing: 0px;
  --ANTON-SC-14-line-height: normal;
  --ANTON-SC-14-font-style: normal;
  --inter-20-600-font-family: "Inter", Helvetica;
  --inter-20-600-font-weight: 600;
  --inter-20-600-font-size: 20px;
  --inter-20-600-letter-spacing: 0px;
  --inter-20-600-line-height: normal;
  --inter-20-600-font-style: normal;
  --inter-20-500-font-family: "Inter", Helvetica;
  --inter-20-500-font-weight: 400;
  --inter-20-500-font-size: 20px;
  --inter-20-500-letter-spacing: 0px;
  --inter-20-500-line-height: normal;
  --inter-20-500-font-style: normal;
  --inter-20-400-font-family: "Inter", Helvetica;
  --inter-20-400-font-weight: 400;
  --inter-20-400-font-size: 20px;
  --inter-20-400-letter-spacing: 0px;
  --inter-20-400-line-height: normal;
  --inter-20-400-font-style: normal;
  --inter-16-600-font-family: "Inter", Helvetica;
  --inter-16-600-font-weight: 600;
  --inter-16-600-font-size: 16px;
  --inter-16-600-letter-spacing: 0px;
  --inter-16-600-line-height: normal;
  --inter-16-600-font-style: normal;
  --inter-16-500-font-family: "Inter", Helvetica;
  --inter-16-500-font-weight: 500;
  --inter-16-500-font-size: 16px;
  --inter-16-500-letter-spacing: 0px;
  --inter-16-500-line-height: normal;
  --inter-16-500-font-style: normal;
  --inter-16-400-font-family: "Inter", Helvetica;
  --inter-16-400-font-weight: 400;
  --inter-16-400-font-size: 16px;
  --inter-16-400-letter-spacing: 0px;
  --inter-16-400-line-height: normal;
  --inter-16-400-font-style: normal;
  --inter-14-600-font-family: "Inter", Helvetica;
  --inter-14-600-font-weight: 600;
  --inter-14-600-font-size: 14px;
  --inter-14-600-letter-spacing: 0px;
  --inter-14-600-line-height: normal;
  --inter-14-600-font-style: normal;
  --inter-14-500-font-family: "Inter", Helvetica;
  --inter-14-500-font-weight: 500;
  --inter-14-500-font-size: 14px;
  --inter-14-500-letter-spacing: 0px;
  --inter-14-500-line-height: normal;
  --inter-14-500-font-style: normal;
  --inter-14-400-font-family: "Inter", Helvetica;
  --inter-14-400-font-weight: 400;
  --inter-14-400-font-size: 14px;
  --inter-14-400-letter-spacing: 0px;
  --inter-14-400-line-height: normal;
  --inter-14-400-font-style: normal;
  --inter-12-600-font-family: "Inter", Helvetica;
  --inter-12-600-font-weight: 600;
  --inter-12-600-font-size: 12px;
  --inter-12-600-letter-spacing: 0px;
  --inter-12-600-line-height: normal;
  --inter-12-600-font-style: normal;
  --inter-12-500-font-family: "Inter", Helvetica;
  --inter-12-500-font-weight: 500;
  --inter-12-500-font-size: 12px;
  --inter-12-500-letter-spacing: 0px;
  --inter-12-500-line-height: normal;
  --inter-12-500-font-style: normal;
  --inter-12-400-font-family: "Inter", Helvetica;
  --inter-12-400-font-weight: 400;
  --inter-12-400-font-size: 12px;
  --inter-12-400-letter-spacing: 0px;
  --inter-12-400-line-height: normal;
  --inter-12-400-font-style: normal;
  --variable-collection-gray: rgba(255, 255, 255, 1);
}
